.top-bar
  #user-controls
    #user-options.dropdown
      %a.dropdown-toggle#userMenu{"data-toggle" =>  "dropdown" } 
        =@logged_user_name
      %ul.dropdown-menu{role: :menu, "aria-labelledby" => "userMenu" }
        %li{role: :presentation}
          %a{role: :menuitem, tabindex: "-1"} logout
.container-fluid{id: :sidebar}
  .row
    .col-xs-2{id: :filesStructure}
      #tree-view
        a tree view goes here (comming soon)
        %ul
          %li File 1
          %li File 2
          %li File 3
      #settings
        %br
        =image_tag("cog.png")
        %a settings
        %span.glyphicon.glyphicon-cog.sr-only{"aria-hidden" => "false"}
    .col-xs-9{id: :administrativeTasks}
      #actions
        =form_for :files, url: upload_path, html:{id: :uploadForm} do |f|
          =f.file_field :Browse
          =f.submit id: :uploadFile 
        #create-folder
          %button.btn.btn-default create
          #folder-create.form-inline
            %input#folder-name{type: :text}
            %button.btn.btn-default#folder-create-button Create Folder
      %p#currentpath.hidden /
      #table-container
        %table.table.table-hover.table-bordered#files-table
          %tr
            %th Name
            %th Size
            %th Type
          %tr
            =render "updatedFileList"

%script#template-upload{type: "text/x-tmpl"}
  .upload
    {%=o.name%}
    .progress 
      .bar{style: "width: 0%"}
