.container-fluid{id: :sidebar}
  .row
    .col-xs-2{id: :filesStructure}
      %ul
        %li Test File 1
        %li Test File 2
        %li Test File 3
    .col-xs-9{id: :administrativeTasks}
      #actions
        =form_for :files, url: upload_path, html:{id: :uploadForm} do |f|
          =f.file_field :Browse
          =f.submit id: :uploadFile 
        #create-folder
          %button.btn.btn-default create
          #folder-create.form-inline
            %input#folder-name{type: :text}
            %button.btn.btn-default#folder-create-button Create Folder
      %p#currentpath.hidden /
      %table.table.table-hover.table-bordered#files-table
        %tr
          %th Name
          %th Size
          %th Type
        =render "updatedFileList"
  .row
    .col-xs-2{id: :storageSettings}
      %ul
        %li GDrive
        %li Dropbox
        %li Mega
 
%script#template-upload{type: "text/x-tmpl"}
  .upload
    {%=o.name%}
    .progress 
      .bar{style: "width: 0%"}
