// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type='file'] {
  /*color: transparent;*/
}
#page-top{
    background: #F5F5F5;
}

#uploadFile{
    display: none;
}
ul{
    overflow: auto;
    color: RED;
}
.container-fluid{
    height: 100%;
}
.bar {
    height: 18px;
    background: green;
}
.progress{
    background: transparent;
}
#folder-create{
    display: none;
}
/*for the top-bar*/
.top-bar{
    height: 4%;
    background: #0078BD;
    #user-options{
        color: white;
        margin-left: 90%;
        font-size: 140%;

    #userMenu{
        color: white;
    }
    } 
}
#user-options-menu{
    display: none;
}
#filesStructure{
    background: #4BBEFF;
    height: 100%;
}
#tree-view{
    background: #ECF4F9;
    height: 80%;
    margin-top: 3%;
}
div#settings > a{
    color: white;
    font-size: 18px;
}
#table-container{
    height: 80%;
    overflow: auto;
}
#status-wrapper{
  height: 0%;
  overflow: auto;
}
