// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type='file'] {
  /*color: transparent;*/
  
}

#uploadFile{
    display: none;
}
ul{
  overflow: auto;
  color: RED;
}
.container-fluid{
  height: 100%;
}
.bar {
  height: 18px;
  background: green;
}
.progress{
  background: transparent;
}
#folder-create{
  display: none;
}
/*for the top-bar*/
.top-bar{
  height: 4%;
  background: #CDE9F4;
  #user-options{
    color: white;
    margin-left: 90%;
    font-size: 140%;

    #userMenu{
      color: white;
    }
  } 
}
#user-options-menu{
  display: none;
}
#filesStructure{
  background: #EFEFEF;
  height: 100%;
}
#tree-view{
  background: #F7F7F7;
  height: 80%;
  margin-top: 3%;
}
#table-container{
  height: 100%;
  overflow: auto;
}
