%html
  %head
    %title LasNubes
    =Gon::Base.render_data({})
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =javascript_include_tag 'https://apis.google.com/js/client.js?onload=handleClientLoad'
    =javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js'
    =csrf_meta_tags 

  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    = yield
